@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Character Entry";
}

<!DOCTYPE>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/characterentry.css" />
</head>
<body>
    <div class="grid">
        <div class="header">header</div>

        <div class="characterstats">Character Stats</div>
        <div class="guild">Guild</div>
        <div class="adventurebook">Adventure Book</div>
        <div class="classstats">
            <p>Class Stats</p>
            <p>B</p>
        </div>
        <div class="prayer">Prayer</div>
        <div class="statusresistance">Status Resistance</div>
        <div class="equipment">Equipment</div>
    </div>
</body>
</html>