@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE>
<html>
<head>
<title>Test</title>
</head>
<body>
    <header>
        <canvas id="myCanvas" width="1200" height="200" style="border:3px solid #000000;"></canvas>
    </header>
    <nav>
        <div style="background-color:Grey;color:white;padding:10px;width:1186px;">
            <pre class="tab"><h1>        Submit Gears                   About Us                   Contact Us                   Log In</h1></pre>
        </div>
    </nav>

    <article>
        <canvas id="myCanvas" width="1200" height="400" style="border: 3px solid #000000;"></canvas>
    </article>

    <article>
        <table style="width:1200px">
            <tr>
                <th><canvas id="myCanvas" width="300" height="300" style="border:3px solid #000000;"></canvas></th>
                <th><canvas id="myCanvas" width="300" height="300" style="border:3px solid #000000;"></canvas></th>
                <th><canvas id="myCanvas" width="300" height="300" style="border:3px solid #000000;"></canvas></th>
            </tr>
            <tr>
                <th>Lorem ipsum dolor sit amet, nec idque nostro persequeris eu, integre assueverit mea in. Reque zril maiorum pro id. In pri impedit invidunt sensibus, natum sanctus cu ius. Clita legendos complectitur ne usu, eum mollis utamur ei, graeco recteque voluptaria vim an.</th>
                <th>Lorem ipsum dolor sit amet, nec idque nostro persequeris eu, integre assueverit mea in. Reque zril maiorum pro id. In pri impedit invidunt sensibus, natum sanctus cu ius. Clita legendos complectitur ne usu, eum mollis utamur ei, graeco recteque voluptaria vim an.</th>
                <th>Lorem ipsum dolor sit amet, nec idque nostro persequeris eu, integre assueverit mea in. Reque zril maiorum pro id. In pri impedit invidunt sensibus, natum sanctus cu ius. Clita legendos complectitur ne usu, eum mollis utamur ei, graeco recteque voluptaria vim an.</th>
            </tr>
        </table>
    </article>

    <footer>
        <p></p>
    </footer>
</body>
</html>

