@{
    ViewData["Title"] = "Privacy Policy";
}

<header class="hero-container">
    <div class="left">
        <p>Welcome to the</p>
        <h1><span class="guild-management-tracker">Guild Management Tracker</span></h1>
        <a href="#" class="btn">Get Started</a>
        <a href="#" class="btn cyan">Learn More</a>
    </div>

    <div class="right">
        <img src="~/Content/Images/Hero.jpg" alt="" />
    </div>

    <img class="hero-bg " src="~/Content/Images/Background.svg" alt="" />

    <div class="polygon-container">
        <img class="polygon" src="~/Content/Images/Polygon.jpg" alt="" />
        <img class="polygon2" src="~/Content/Images/Polygon2.jpg" alt="" />
        <img class="polygon3" src="~/Content/Images/Polygon3.jpg" alt="" />
    </div>
</header>